@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Roboto", "Montserrat", sans-serif; }

.links {
  text-decoration: none; }

.main__position {
  padding-top: 4vh;
  padding-bottom: 4vh; }

  header nav div a{
    font-family:'Montserrat', sans-serif;
  }

/* HOME */

.carousel__textos div h5 {
  color: #F7F4F3;
  font-weight: bold;
  font-family: "Montserrat", sans-serif; }

.carousel__textos div p {
  color: #F7F4F3; }

.table {
  font-family: "open sans", sans-serif;
}

/* PORTFOLIO */

.trabajos__individual {
  padding-bottom: 2vh; }
  .trabajos__individual a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 700;
  }

.trabajos__individual p {
    font-size: 1.5vh; 
}

.trabajos__destacado {
  scale: 1, 1;
  transform-origin: top left; }

.trabajos__destacado:hover {
  transform: scale(1.02, 1.02); }

.asideNoticias__Textos div a {
  color: #141415;
  
  font-weight: 500;
  font-family: "Montserrat", sans-serif; }

.asideNoticias__Textos div p {
  color: #141415;
  font-size: 1.5vh; }

  .asideNoticias__Noticia {
    padding: 1vh; }

.fondoBoton {
  background-color: #0E6BA8;
  color: #F7F4F3; }

ul li a {
  color: #F7F4F3;
  text-decoration: none;
  font-weight: bolder; }

/* EQUIPOS */

.fondoBoton {
  background-color: #0E6BA8;
  color: #F7F4F3; }

ul li a {
  color: #F7F4F3;
  text-decoration: none;
  font-weight: bolder; }

.descripciones, .descripciones__Titulos {
  font: bolder;
  font-size: 2.5vh;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }

  /* CONTACTO */

.cajaFormulario {
  width: 75%; 
  padding-top: 6vh;
}

.cajaFormulario p{
background-color: #cccccc;
}

/* FOOTER */

footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #0E6BA8;
}

footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content .bottom p{
 margin-top: 4px;
}

footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 16px;
}

footer .content p{
  text-align: justify;
  font-size: 1vh;
  color: #ffffff;
}

footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display:inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  margin: 8px 4px 0 12px;
  transition: all 0.3s ease;
  color: #ffffff;
}

.content .media-icons a:hover{
  border-color: #222222;
}

footer .bottom a{
  font-size: 1.5vh;
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0px 32px 0px 0px;
  text-decoration: none;
}

footer a{
  transition: all 0.3s ease;
}

footer a:hover{
  color: #222222;
}

@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 2vh;
  }
}

@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 8px;
  }
}