* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Roboto", "Montserrat", sans-serif; }

.links {
  text-decoration: none; }

.main__position {
  padding-top: 4vh;
  padding-bottom: 4vh; }

.carousel__textos div h5 {
  color: #F7F4F3;
  font-weight: bold;
  font-family: "Montserrat", sans-serif; }

.carousel__textos div p {
  color: #F7F4F3; }

.trabajos__individual {
  padding-bottom: 2vh; }
  .trabajos__individual a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 700;
  }

.trabajos__individual p {
    font-size: 1.5vh; 
}

.trabajos__destacado {
  scale: 1, 1;
  transform-origin: top left; }

.trabajos__destacado:hover {
  transform: scale(1.05, 1.05); }

.asideNoticias__textos div a {
  color: #141415;
  text-decoration: none;
  font-weight: 500;
  font-family: "Montserrat", sans-serif; }

.asideNoticias__textos div p {
  color: #141415;
  font-size: 1.5vh; }

.fondoBoton {
  background-color: #0E6BA8;
  color: #F7F4F3; }

ul li a {
  color: #F7F4F3;
  text-decoration: none;
  font-weight: bolder; }

.carousel__textos div h5 {
  color: #F7F4F3;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }

.carousel__textos div p {
  color: #F7F4F3; }

.fondoBoton {
  background-color: #0E6BA8;
  color: #F7F4F3; }

ul li a {
  color: #F7F4F3;
  text-decoration: none;
  font-weight: bolder; }

.main__position {
  padding-bottom: 4vh;
  padding-top: 4vh; }

.descripciones, .descripciones--titulos {
  font: bolder;
  font-size: 2.5vh;
  font-family: "Montserrat", sans-serif; }

.descripciones--titulos {
  text-transform: uppercase; }

.trabajos__global {
  padding-right: 16vh; }

.asideNoticias__noticia {
  padding: 1vh; }
